@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <!-- Package Start -->
    <div class="package">
        <div class="leftCol">
            <div class="offerDiv">
                <div class="offerHead">
                    <h2>
                        SUPREME DELUX
                    </h2>
                    <span>Our famouse combination of beef pepproni, smoked chicken, cabanossi, beef, onions, green papers, olives & Mushrooms with double the amount of topping.</span>
                </div>
                <div class="offerPod1">
                    <img src="~/Content/images/super_supreme_img1.png" />
                </div>
                <div class="offerPod5"><h2>Regular 9 inches</h2> <h1>49.98</h1></div>
                    <div class="offerPod3">
                        <a href="@Url.Action("Order", "Home")" class="order-btn5">Order now</a>
                         </div>
                </div>
        </div>
        
    </div>
    <!-- Package End -->
    <!-- Package Start -->
    <div class="package">
        <div class="leftCol">
            <div class="offerDiv">
                <div class="offerHead">
                    <h2>
                        FAJITA SICILIAN
                    </h2>
                    <span>A delicious blend of fajita chicken, onions, green peppers, green chillies and lots of cheese.</span>
                </div>
                <div class="offerPod1">
                    <img src="~/Content/images/behari_chicken_pizza_img1.png" />
                </div>
                <div class="offerPod5"><h2>Regular 9 inches</h2> <h1>$54.98</h1></div>
                <div class="offerPod3">
                    <a href="@Url.Action("Order", "Home")" class="order-btn5">Order now</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Package End -->
 </div>
